<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=320;" />
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<title>App Hackathon</title>
</head>
<body>
	<header>
		<p class="pTtl">
			<img src="/static/greyback.png" width="35px" height="28px" />
			App-Hackathon
		</p>
	</header>

	<hr color="FF8800">     
	<nav id="navBtn">
		<ul>
			<li><a href='index'>Projects</a></li>
			<li><a href='ideas'>Ideas</a></li>
			<li><a href='live'>Live</a></li>
			<li><a href='about'>About</a></li>
			<li><a href='faq'>FAQ</a></li>
		</ul>
	</nav>
	<hr color="FF8800">     

	<article class="i">
		<p class="iTtl">Goal</p>
		<p></p>
		<p class=iDes>
			The long term goal is to help undergrads in EECS to create product
			prototypes; this includes mobile apps, web apps, desktop apps,
			hardware-based, or even hybrids of the above.
		</p>
	</article>

	<article class="i">
		<p class="iTtl">About the Project</p>
		<p></p>
		<p class="iDes">
			This is the work of 3 Computer Science students studying at Oregon
			State University. We wanted to provide a way for people to submit
			all of their ideas in a centralized place and then get a prototype
			of those ideas out in the world.
		</p>
		<p class="iDes">
			The idea is that anyone can have the next big app or game or program
			idea but not have a way to implement it. This is a way for us to
			bring multiple fields of study into one place and hopefully produce
			some outstanding new apps.
		</p>
		<p class="iDes">
			For the first part of this project we will have the students submit
			their ideas and vote on projects. At the end of the term the
			projects with the most votes will be chosen for the implementation
			phase.
		</p>
		<p class="iDes">
			We will be having teams of about four programmers start to make the
			prototypes in Winter term. They will be presented in Spring term at
			the Kelley Engineering Center.
		</p>
	</article>
</body>
</html> 
