<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=320;" />	
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<title>App Hackathon</title>
</head>
<body>
	<header>
		<p class="pTtl">
			<img src="/static/greyback.png" width="35" height="28" />
			App-Hackathon
		</p>
	</header>
	<hr color="FF8800" />
	<nav id="navBtn">
		<ul>
			<li><a href='index'>Projects</a></li>
			<li><a href='ideas'>Ideas</a></li>
			<li><a href='live'>Live</a></li>
			<li><a href='about'>About</a></li>
			<li><a href='faq'>FAQ</a></li>
		</ul>
	</nav>
	<hr color="FF8800" />

	<article class="i">
		<p class="iTtl">Live feed of ideas from Twitter</p>
		<p></p>
		<p class="iDes">
			Tag us with your idea, or include #AppHackathonOSU in your tweet!
		</p>
		<p class="iDes">If you like an idea feel free to retweet it!</p>
	</article>

	<p></p>

	<article class="i">
		<table>
			<tr>
				<td>
					<a class="twitter-timeline"
							href="https://twitter.com/AppHackathonOSU"
							data-widget-id="243850749581336576">
						Tweets by @AppHackathonOSU
					</a>
					<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = "//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
					</script>
				</td>
				<td>
					<a class="twitter-timeline"
							href="https://twitter.com/search?q=%23AppHackathonOSU"
							data-widget-id="243845330125328384">
						Tweets about "#AppHackathonOSU"
					</a>
					<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = "//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
					</script>
				</td>
			</tr>
		</table>
	</article>
</body>
</html> 
